/OrganizationManager/nbproject/private/
/slot 13/nbproject/private/
/PracticalPE/nbproject/private/
/Q1/nbproject/private/
/PracticalPE/Q1/nbproject/private/
/PracticalPE/Q1/Q1/nbproject/private/
/PracticalPE/Q1/Q2/nbproject/private/
/PracticalPE/Q1/Q3/nbproject/private/
/PracticalPE/Q1/Q4/build/
/PracticalPE/Q1/Q4/nbproject/private/
/PracticalPE/Q2/nbproject/private/
/PracticalPE/Q3/nbproject/private/
/PracticalPE/Q4/build/
/PracticalPE/Q4/nbproject/private/
/PracticalPE/Q1/build/
/PracticalPE/Q1/dist/
/PracticalPE/Q2/build/
/PracticalPE/Q2/dist/
/PracticalPE/Q3/build/
/PracticalPE/Q3/dist/
/PracticalPE/Q4/dist/
/PracticalPE/Q1/run/
/PracticalPE/Q2/run/
/PracticalPE/Q3/run/
/PracticalPE/Q4/run/
/PracticalPE/Workshop#6/nbproject/private/
/Workshop#6/nbproject/private/
/Workshop#6/build/
/Workshop#6/run/
/LAB06/nbproject/private/
/LAB06/Workshop#6/build/
/LAB06/Workshop#6/nbproject/private/
/LAB06/Workshop#6/run/
